# Day 3 - Pandas `apply()`, `groupby()`, dan `lambda`


Notebook ini dirancang untuk membantumu memahami tiga konsep penting dalam manipulasi data menggunakan Pandas:

- `apply()`: untuk menerapkan fungsi ke kolom atau baris
- `lambda`: fungsi anonim yang sering dipakai dalam `apply`
- `groupby() + agg()`: untuk agregasi data berdasarkan kategori

Kita akan belajar teori singkat, contoh kode, dan latihan praktik.

## 1. Fungsi `apply()`

In [13]:
import pandas as pd
df = pd.DataFrame({
    'x': [1, 2, 3],
    'y': [4, 5, 6]
})

# Pakai apply ke baris â†’ axis=1
df[['x2', 'y2']] = df[['x', 'y']].apply(lambda col: col ** 2)
df['x + y'] = df.apply(lambda baris: (baris['x'] + baris['y']), axis=1)

df

# nilai df['kuadrat'] diambil dari df['angka'] yang dimasukkan fungsi apply lambda x: x**2
# jadi setiap entri didalam kolom angka nilainya akan di kuadratkan, kemudian dimasukkan ke kolom kuadrat

   x  y  x2  y2  x + y
0  1  4   1  16      5
1  2  5   4  25      7
2  3  6   9  36      9

In [14]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# map cuma bisa dipakai untuk Series, dan cuma fungsi 1 input (nilai di kolom itu sendiri)
# contoh, ini TIDAK BISA:
# df['C'] = df['A'].map(lambda x: x + df['B'])  # ERROR

# apply bisa pakai axis=1, sehingga fungsi bisa akses seluruh baris
df['C'] = df.apply(lambda row: row['A'] + row['B'], axis=1)

print(df)

   A  B  C
0  1  4  5
1  2  5  7
2  3  6  9

## 2. Fungsi `lambda`

In [15]:
# Lambda adalah fungsi anonim
# Bentuk: lambda argumen: ekspresi

# Contoh
kuadrat = lambda x: x**2
kuadrat(4)

16

## 3. `groupby()` dan `agg()`

In [ ]:
df = pd.DataFrame({
    'kategori': ['A', 'B', 'A', 'B', 'C','D','D','D'],
    'nilai': [80, 90, 70, 75, 85,30,30,40]
})

hasil_count = df.groupby('kategori')['nilai'].count()

hasil = df.groupby('kategori')['nilai'].agg(['max','min', 'mean', 'count','sum'])

print(hasil)
print(hasil_count)

# 'sum' â€” jumlah total
# 'mean' â€” rata-rata
# 'median' â€” nilai tengah
# 'min' â€” nilai minimum
# 'max' â€” nilai maksimum
# 'count' â€” jumlah data (non-null)
# 'std' â€” standar deviasi
# 'var' â€” variansi
# 'prod' â€” hasil perkalian semua nilai
# 'first' â€” nilai pertama dalam grup
# 'last' â€” nilai terakhir dalam grup
# 'mad' â€” mean absolute deviation (rata-rata deviasi absolut)
# 'sem' â€” standar error mean

# Selain itu, kamu juga bisa pakai:
# Fungsi built-in Python seperti max(), min(), len(), sum(), max(), min()
# Fungsi custom (lambda atau fungsi yang kamu buat sendiri)

          max  min       mean  count  sum
kategori
A          80   70  75.000000      2  150
B          90   75  82.500000      2  165
C          85   85  85.000000      1   85
D          40   30  33.333333      3  100
kategori
A    2
B    2
C    1
D    3
Name: nilai, dtype: int64

## 4. Integrasi `apply()`, `lambda`, dan `groupby()`

In [3]:
import pandas as pd

df = pd.DataFrame({
    'nama': ['A', 'B', 'C', 'A', 'B'],
    'nilai': [80, 90, 85, 70, 75]
})

# Tambah kolom kategori_nilai
df['kategori_nilai'] = df['nilai'].apply(lambda x: 'A' if x >= 85 else ('B' if x >= 70 else 'C'))

# Tambah kolom nilai_ganda
df['nilai_ganda'] = df['nilai'].apply(lambda x: x * 2)

# Hitung rata-rata dan jumlah per kategori_nilai
grouped = df.groupby('kategori_nilai').agg({
    'nilai': ['mean', 'sum']
}).reset_index()

df, grouped

(  nama  nilai kategori_nilai  nilai_ganda
 0    A     80              B          160
 1    B     90              A          180
 2    C     85              A          170
 3    A     70              B          140
 4    B     75              B          150,
   kategori_nilai nilai
                   mean  sum
 0              A  87.5  175
 1              B  75.0  225)

## ðŸ§  Latihan Mandiri


Gunakan DataFrame berikut untuk mengerjakan latihan:

```python
df_latihan = pd.DataFrame({
    'siswa': ['Andi', 'Budi', 'Cici', 'Andi', 'Budi'],
    'nilai': [80, 85, 90, 70, 75]
})
```

1. Tambahkan kolom `kategori` berdasarkan aturan:
   - `A` jika nilai â‰¥ 85
   - `B` jika nilai 70â€“84
   - `C` jika < 70

2. Tambahkan kolom `nilai_x3` yang merupakan nilai Ã— 3

3. Hitung rata-rata dan jumlah nilai tiap siswa