In [ ]:
import pandas as pd


df = pd.read_csv('../datasets/train.csv')

# drop kolom yang kurang relevan untuk train model
drop_columns = ['Name','ID','Customer_ID','Month','SSN']
df.drop(drop_columns, axis=1, inplace=True)

C:\Users\62857\AppData\Local\Temp\ipykernel_13588\442925738.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../datasets/train.csv')

In [ ]:
// astype : digunakan untuk mengubah tipe data kolom tertentu menjadi tipe data lain
// Contoh: mengubah kolom 'Occupation' menjadi tipe data 'category'
// kemudian diubah menjadi kode numerik dengan .cat.codes

// kenapa gak langsung menjadi int ?
// Karena tipe data 'category' memungkinkan kita untuk mengelompokkan data dengan lebih efisien,
// dan .cat.codes mengubah kategori tersebut menjadi representasi numerik yang lebih mudah digunakan dalam analisis data.
// saat membangun model machine learning juga terpengaruh, karena kalau langsung menjadi int
// akan menganggap bahwa kategori tersebut memiliki urutan atau nilai numerik,

astype_columns = [
    'Occupation',
    'Credit_Mix',
    'Payment_of_Min_Amount',
    'Payment_Behaviour',
    'Credit_Score'
    ]
for col in astype_columns:
    df[col] = df[col].astype('category')
    df[col] = df[col].cat.codes

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Age                       100000 non-null  object
 1   Occupation                100000 non-null  int8
 2   Annual_Income             100000 non-null  object
 3   Monthly_Inhand_Salary     84998 non-null   float64
 4   Num_Bank_Accounts         100000 non-null  int64
 5   Num_Credit_Card           100000 non-null  int64
 6   Interest_Rate             100000 non-null  int64
 7   Num_of_Loan               100000 non-null  object
 8   Type_of_Loan              88592 non-null   object
 9   Delay_from_due_date       100000 non-null  int64
 10  Num_of_Delayed_Payment    92998 non-null   object
 11  Changed_Credit_Limit      100000 non-null  object
 12  Num_Credit_Inquiries      98035 non-null   float64
 13  Credit_Mix                100000 non-null  int8
 14  Outstanding_Debt          100000 non-null  object
 15  Credit_Utilization_Ratio  100000 non-null  float64
 16  Credit_History_Age        90970 non-null   object
 17  Payment_of_Min_Amount     100000 non-null  int8
 18  Total_EMI_per_month       100000 non-null  float64
 19  Amount_invested_monthly   95521 non-null   object
 20  Payment_Behaviour         100000 non-null  int8
 21  Monthly_Balance           98800 non-null   object
 22  Credit_Score              100000 non-null  int8
dtypes: float64(4), int64(4), int8(5), object(10)
memory usage: 14.2+ MB

In [ ]:
# pd.to_numeric untuk mengubah kolom yang isinya sudah numerik menjadi tipe data numerik
# contoh : tipe data string padahal valuenya : '2'
# pakai to_numeric untuk mengubahnya menjadi tipe data numerik
# jika ada yang tidak bisa diubah, akan menjadi NaN

cols_to_numeric = [
    'Age',
    'Annual_Income',
    'Num_of_Loan',
    'Num_of_Delayed_Payment',
    'Changed_Credit_Limit',
    'Num_Credit_Inquiries',
    'Outstanding_Debt',
    'Credit_Utilization_Ratio',
    'Total_EMI_per_month',
    'Amount_invested_monthly',
    'Monthly_Balance',
]

for col in cols_to_numeric:
    df[col] = pd.to_numeric(df[col], errors='coerce')
    
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Age                       95061 non-null   float64
 1   Occupation                100000 non-null  int8
 2   Annual_Income             93020 non-null   float64
 3   Monthly_Inhand_Salary     84998 non-null   float64
 4   Num_Bank_Accounts         100000 non-null  int64
 5   Num_Credit_Card           100000 non-null  int64
 6   Interest_Rate             100000 non-null  int64
 7   Num_of_Loan               95215 non-null   float64
 8   Type_of_Loan              88592 non-null   object
 9   Delay_from_due_date       100000 non-null  int64
 10  Num_of_Delayed_Payment    90254 non-null   float64
 11  Changed_Credit_Limit      97909 non-null   float64
 12  Num_Credit_Inquiries      98035 non-null   float64
 13  Credit_Mix                100000 non-null  int8
 14  Outstanding_Debt          98991 non-null   float64
 15  Credit_Utilization_Ratio  100000 non-null  float64
 16  Credit_History_Age        90970 non-null   object
 17  Payment_of_Min_Amount     100000 non-null  int8
 18  Total_EMI_per_month       100000 non-null  float64
 19  Amount_invested_monthly   91216 non-null   float64
 20  Payment_Behaviour         100000 non-null  int8
 21  Monthly_Balance           98791 non-null   float64
 22  Credit_Score              100000 non-null  int8
dtypes: float64(12), int64(4), int8(5), object(2)
memory usage: 14.2+ MB

### Note Pelajaran

nanti dilanjut dengan cara : 
1. Ubah dulu semua tipe data menjadi numerik (int / float) âœ…
2. Cek Missing Value dan pilih median atau mean berdasarkan skewness nya 
3. skewness kanan ( miring kanan pakai median ) dan skewess kiri pakai mean
4. missing value sudah hilang semua && tipe data sudah numerik semua
5. drop kolom yang korelasinya rendah untuk kebutuhan training
6. training dengan xgboost

### Progress : 
* Lagi mengerjakan nomor 1 diatas, sisa cara mengubah type_of_loan ( karena multikelas ), dan credit history age karena formatnya XX Years And XX Months